// Aca solamente esta el background del body que lo saque de la pagina https://www.svgbackgrounds.com/
body{
    background-color: lightblue;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}