@import "alimento";
@import "ofertas";
@import "otros-productos";
@import "body";

// Esto esta pensado que sea visto en 480px x 480px
// Esta parte funciona para el grid de index.html

.container{
    display: grid;
    grid-template-columns: 0.8fr;
    grid-template-rows: 0.3fr 0.3fr 0.5fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "Nav" 
    "Main" 
    "Alimentos" 
    "Otros" 
    "Promociones";
    margin-left: -12px;
}
.Nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.01fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "Portada" 
    "Menu";
    grid-area: Nav;

}
.Portada{
    grid-area: Portada;
    width: 100%;

}
.Menu{
    grid-area: Menu;
}
.Main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.03fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "Nombre" 
    "Texto";
    grid-area: Main;
}
.Nombre{
    grid-area: Nombre;
    margin-top: -10px;
}
.Texto{
    font-size: x-large;
    grid-area: Texto;
    font-weight: bolder;
}
.Alimentos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.08fr 0.3fr 0.3fr;
    gap: 25px 10px;
    grid-auto-flow: row;
    grid-template-areas: 
    "Buscador Buscador" 
    "Alimentos-perro Alimentos-gato" 
    "Alimentos-pez Alimentos-otro";
    grid-area: Alimentos;
}
.Buscador{
    grid-area: Buscador;
    text-align: center;
}
.Alimentos-perro{
    grid-area: Alimentos-perro;
}
.Alimentos-gato{
    grid-area: Alimentos-gato;

}
.Alimentos-pez{
    grid-area: Alimentos-pez;
}
.Alimentos-otro{
    grid-area: Alimentos-otro;
}
.Otros{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    grid-template-rows: 0.08fr 0.3fr 0.3fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: 
    "productos-titulo productos-titulo" 
    "productos-higiene productos-golosinas" 
    "productos-juguete productos-correa";
    grid-area: Otros;
}
.productos-titulo{
    grid-area: productos-titulo;
    text-align: center;
}
.productos-higiene{
    grid-area: productos-higiene;
}
.productos-golosinas{
    grid-area: productos-golosinas;
}
.productos-juguete{
    grid-area: productos-juguete;
}
.productos-correa{
    grid-area: productos-correa;
}
.Promociones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.4fr;
    gap: 25px 10px;
    grid-auto-flow: row;
    grid-template-areas: 
    "Titulo Titulo" 
    "Promos1 Promos2" 
    "Promos3 Promos4";
    grid-area: Promociones;
}
.Titulo{
    grid-area: Titulo;
    text-align: center;
    font-size: large;

}
.Promos1{
    grid-area: Promos1;

}
.Promos2{
    grid-area: Promos2;
}
.Promos3{
    grid-area: Promos3;

}
.Promos4{
    grid-area: Promos4;
}
// Este es el flex para acomodar los productos de la seccion ofertas

div.precio-producto p{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 5px 0 0 20px;
    width: 175px;
    height: 0px;
    max-width: 130px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
h3{
    &.product-otro{
        text-align: center;
        width: 230px;
    }
    &.nombre-producto{
        display: flex;
        justify-content: center;
        justify-items: center;
        padding: 0;
        max-height: 50px;
        height: 100px;
        margin: 2px 0px 0px 0px;
    }
    &.nombre-animal{
        text-align: center;
    }
}
.product img{
    display: flex;
    width: 80px;
    justify-content: center;
    justify-items: center;
    height: 150px;
}
div.card{
    display: flex;
    flex-direction: column;
    background: #b34242;
    box-shadow: inset 20px 20px 20px #983838, inset -20px -20px 20px #ce4c4c;
    margin-right: 2px;
    margin-left: 0px;
    margin-bottom: 2px;
}
// Esto afecta a contacto.html

// estos son los iconos de las redes

main.pages-contacto ul li a.redes img{
    margin: 0px 0 0 0;
    padding: 0px;
    max-width: 50px;
    max-height: 50px;
}
ul.datos{
    font-size: 20px;
    font-weight: bolder;
}
// Esto es el formulario

input[type=text], select, textarea{
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#nombre, #apellido{
    width: 50%;
}
#email{
    width: 70%;
}
#mensaje{
    height: 200px;
    width: 90%;
}
main.contacto{
    ul li{
        position: static;
        display: flex;
        flex-direction: column;
        top: 0px;
        font-family: inherit;
    }
    
    h2{
        font-size: 1.7em;
        margin: 5px 0;
    }
    
    div.form ul{
        font-size: 2.2em;
        margin: 5px 0;
        list-style: none;
    }
}
ul.datos{
    list-style: none;
    margin-left: -25px;
}
div.form ul li{
    list-style: none;
    margin-left: 0;
}
// Esto es para otros productos y para alimentos

div{
    &.card h3.nombre-producto{
        margin-bottom: 20px;
    }
    
    &.card img{
        align-content: center;
        width: 140px;
        margin-top: 20px;
        align-self: center;
    }
    
    &.precio-producto p{
        margin-bottom: 40px;
        margin-top: 50px;
    }
}

// Esto es para que se vea bien en una tablet vertical (768px x 1024px)
@media screen and (min-width: 768px){
    div{
        &.card{
            display: flex;
            flex-direction: column;
            background: #b34242;
            box-shadow: inset 20px 20px 20px #983838, inset -20px -20px 20px #ce4c4c;
            margin-top: 0;
            align-items: center;
            margin-left: 70px;
            margin-right: 70px;
            margin-bottom: 20px;
        }
        
        &.nombre{
            align-items: center;
        }
    }
    h3.nombre-producto, .product img, div.precio-producto p{
            margin-left: 0px;
    }
    .Logo{
        margin-top: 10px;
    }
    .Portada{
        grid-area: Portada;
        width: 100%;
    }

    #nombre, #apellido {
        width: 25%;
    }
    #email{
        width: 50%;
    }
    #mensaje{
        height: 200px;
        width: 75%;
    }
}
// Esto es para que se vea bien en una tablet horizontal (1024px x 768px)
@media screen and (min-width: 1024px){
    div.card{
        display: flex;
        flex-direction: column;
        background: #b34242;
        box-shadow: inset 20px 20px 20px #983838, inset -20px -20px 20px #ce4c4c;
        align-items: center;
        margin-bottom: 20px;
    }
    .Logo{
        width: 50%;
        align-items: center;
        align-content: center;
    }
    .Portada{
        grid-area: Portada;
        width: 100%;
    }

    #nombre, #apellido{
        width: 20%;
    }
    #email{
        width: 40%;
    }
    #mensaje{
        height: 200px;
        width: 50%;
    }
}
// Esto es para que se vea bien en una tablet horizontal (1440px x 900px)
@media screen and (min-width: 1440px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.1fr 0.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: 
        "Nav Nav Nav Nav" 
        "Main Main Main Main" 
        "Alimentos Alimentos Alimentos Alimentos" 
        "Otros Otros Otros Otros" 
        "Promociones Promociones Promociones Promociones";
    }
    div.card{
        display: flex;
        flex-direction: column;
        background: #b34242;
        box-shadow: inset 20px 20px 20px #983838, inset -20px -20px 20px #ce4c4c;
        margin-top: 0;
        align-items: center;
        transition-property: all;
        transition-duration: .5s;
        transition-delay: .5s;
        transition-timing-function: ease;

        &:hover{
            transform: rotate(20deg);
        }
    }
    .Otros{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: 
        "productos-titulo productos-titulo productos-titulo productos-titulo"
        "productos-higiene productos-golosinas productos-juguete productos-correa";
        grid-area: Otros;
        margin-top: 30px;
    }
    .nombre-otro{
        align-content: center;
    }
    .productos-titulo{
        grid-area: productos-titulo;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .productos-higiene{
        grid-area: productos-higiene;
    }
    .productos-golosinas{
        grid-area: productos-golosinas;
    }
    .productos-juguete{
        grid-area: productos-juguete;
    }
    .productos-correa{
        grid-area: productos-correa;
    }
    .Promociones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: 
        "Titulo Titulo Titulo Titulo" 
        "Promos1 Promos2 Promos3 Promos4";
        grid-area: Promociones;
    }
    .Titulo{
        margin-bottom: 10px;
    }
    .product{
        height: 200px;
        width: 370px;
        margin-left: -20px;
    }
    div.nombre{
        align-items: center;
    }
    .Alimentos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row; 
        grid-template-areas: 
        "Buscador Buscador Buscador Buscador " 
        "Alimentos-perro Alimentos-gato Alimentos-pez Alimentos-otro";
        grid-area: Alimentos;
    }
    .Buscador{
        grid-area: Buscador;
        text-align: center;
    }
    .Alimentos-perro{
        grid-area: Alimentos-perro;
        margin-bottom: 20px;
        text-align: center;
    }
    .Alimentos-gato{
        grid-area: Alimentos-gato;
        text-align: center;
    }
    .Alimentos-pez{
        grid-area: Alimentos-pez;
        text-align: center;
    }
    .Alimentos-otro{
        grid-area: Alimentos-otro;
        text-align: center;
    }
    // Esto es para Alimento.html

    .container-alimento{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: 
        "Nav-alimento Nav-alimento" 
        "pages-alimento pages-alimento";
    }
    .Nav-alimento{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.9fr .1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: 
        "Portada-alimento" 
        "Menu-alimento";
        grid-area: Nav-alimento;
    }
    .Portada-alimento{
        width: 100%;
    }
    .Menu-alimento{
        grid-area: Menu-alimento;
        margin: 0;
        display: grid;
        flex-direction: row;
    }
    .pages-alimento{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas: 
        "Titulo Titulo Titulo Titulo " 
        "alimento-1 alimento-2 alimento-3 alimento-4";
        grid-area: pages-alimento;
    }
    .alimento-1{
        grid-area: alimento-1;
    }
    .alimento-2{
        grid-area: alimento-2;
    }
    .alimento-3{
        grid-area: alimento-3;
    }
    .alimento-4{
        grid-area: alimento-4;
    }
    
        // Esto es para otros-productos.html
    .pages-otros{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: 
        "Titulo-principal Titulo-principal Titulo-principal Titulo-principal " 
        "otro-1 otro-2 otro-3 otro-4";
        grid-area: pages-otro;
    }
    h2.titulo-principal{
        text-align: center;
        font-weight: bolder;
        font-size: 40px;
        grid-area: Titulo-principal
    }
    .otro-1{
        grid-area: otro-1;
    }
    .otro-2{
        grid-area: otro-2;
    }
    .otro-3{
        grid-area: otro-3;
    }
    .otro-4{
        grid-area: otro-4;
    }

    #nombre, #apellido{
        width: 15%;
    }
    #email{
        width: 25%;
    }
    #mensaje{
        height: 200px;
        width: 50%;
    }

    .Logo{
        animation-name: fade-in;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 3s;
    }
    @keyframes fade-in{
        0%{
        transform: translateX(-50px);
        animation-timing-function: ease;
        }
        50%{
        transform: translateX(0px);
        animation-timing-function: ease;
        }
        75%{
        transform: translateX(50px);
        animation-timing-function: ease;
        }
        80%{
        transform: translateX(100px);
        animation-timing-function: ease;
        }
        90%{
        transform: translateX(50px);
        animation-timing-function: ease;
        }
        100%{
        transform: translateX(0px);
        animation-timing-function: ease;
        }
    }
}